<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Learn CSS
        link(rel="stylesheet", href="styles/04_syntax_selectors.css")
    body.container#main_styles
        header.main_heading
            h1 Welcome to our website
            h4 We're so happy to have you
        section#main
            ul Here are some reasons you should keep reading...
                li You're learning things!
                li CSS is fun!
                li Well.....not always, but it is essential to know!
        footer.main_footer
            p
                | Thanks for checking out this page!
                a(href="#") Here is a link that goes nowhere!
                    | It's for showing you stuff with CSS......we promise!