<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(href="styles/08_display.css", rel="stylesheet", type="text/css")
    body
        #one I AM A BOX
        #two I AM A BOX
        #three I AM A BOX
        #four I AM A BOX
        #table
            .row
                .cell Data1
                .cell Data2
                .cell Data3
            .row
                .cell Data1
                .cell Data2
                .cell Data3
        #outer
            #inner WOAH I'M IN THE MIDDLE