html(lang="en")
    head
        meta(charset="UTF-8")
        title My first HTML page
    body
        p Here's some important text!
        p Here's some content.
        p See ya later!
        div.hello Hi everybody!
            - for(var i = 0; i < 3; i++){
                span yo
            - }