<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
    body
        ol(type="A")
            li First
            li Second
            li Third
        ol(type="a")
            li First
            li Second
            li Third
        ol(type="I")
            li First
            li Second
            li Third
        ol(type="i")
            li First
            li Second
            li Third
        p
            | This is a <sup>sup</sup>
            | This is a <sub>sub</sub>