header {
  background: red;
}

article {
  background: green;
  width: 65%;
  float: right;
}

aside {
  float: left;
  background: yellow;
  width: 35%;
}

footer {
  background: brown;
  clear: both;
}
